@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 44px;
  line-height: 66px;
  font-weight: 800;
}

h2 {
  font-size: 50px;
  line-height: 75px;
}

h3 {
  font-size: 38px;
  line-height: 57px;
}

h1, h2, h3, h4 {
  color: #fff;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

span {
  color: #13FF00;
  font-size: inherit;
  line-height: inherit;
}

.logo {
  width: 35px;
  height: 35px;
}

.app {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1025px) {
  h1 {
    font-size: 35px;
    line-height: 56px;
  }
  h2 {
    font-size: 40px;
    line-height: 65px;
  }
  h3 {
    font-size: 30;
    line-height: 47px;
  }
}
@media (max-width: 769px) {
  h1 {
    font-size: 30px;
    line-height: 42px;
  }
  h2 {
    font-size: 32px;
    line-height: 48px;
  }
  h3 {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 426px) {
  h1 {
    font-size: 21px;
    line-height: 25px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .logo {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 321px) {
  h2 {
    font-size: 20px;
    line-height: 25px;
  }
}
.nav__list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  top: 20px;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}
.nav__list__item {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  white-space: nowrap;
}

.home {
  background-color: #3F3F3F;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}
.home__content {
  grid-column: 1;
  z-index: 4;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-color: #202020;
  padding-left: 18%;
}
.home__content__name {
  max-width: 40%;
  padding-top: 200px;
  color: #13FF00;
  position: relative;
}
.home__content__name::after {
  content: "";
  position: absolute;
  top: 101%;
  left: 15%;
  height: 3px;
  width: 30%;
  background-color: #13FF00;
}
.home__content__job {
  max-width: 75%;
  padding-top: 20px;
}
.home__content__description {
  max-width: 75%;
  font-weight: 500;
  font-size: 20px;
  color: #8F8F8F;
  padding-bottom: 30px;
}
@media (max-width: 426px) {
  .home__content__description {
    font-size: 12px;
  }
}
.home__content__list {
  display: flex;
  justify-content: start;
  column-gap: 40px;
  align-items: center;
  padding: 100px 0;
  max-width: 100%;
}
@media (max-width: 426px) {
  .home__content__list {
    column-gap: 10px;
    padding: 50px 0;
  }
}
.home__content__link {
  background-color: #353535;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 426px) {
  .home__content__link {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 426px) {
  .home__content {
    padding-left: 10%;
  }
}
.home__images {
  z-index: 1;
  position: relative;
}
.home__images__square {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 420px;
  height: 500px;
  z-index: 3;
  border: 3px solid #13FF00;
  box-shadow: 0px 0px 30px #13FF00, inset 0px 0px 30px #13FF00;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1025px) {
  .home__images__square {
    height: 200px;
    width: 180px;
  }
}
@media (max-width: 426px) {
  .home__images__square {
    width: 150px;
    height: 180px;
  }
}
.home__images__square-image {
  width: 100%;
  height: 100%;
}

.about {
  background-color: #161616;
}
.about .history {
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px;
}
.about .history__title {
  text-align: center;
  position: relative;
}
.about .history__title::after {
  content: "";
  position: absolute;
  top: 101%;
  left: 50%;
  height: 3px;
  width: 15%;
  background-color: #13FF00;
  transform: translateX(-50%);
}
.about .history__text {
  color: #8f8f8f;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
}
@media (max-width: 769px) {
  .about .history__text {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 426px) {
  .about .history__text {
    font-size: 16px;
    line-height: 21px;
  }
}
@media (max-width: 321px) {
  .about .history__text {
    font-size: 12px;
    line-height: 14px;
  }
}
.about .skills {
  background-color: #1d1d1d;
  padding: 50px;
}
@media (max-width: 769px) {
  .about .skills {
    padding: 20px;
  }
}
.about .skills__title {
  text-align: center;
}
.about .skills__list {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 40%;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  column-gap: 15%;
}
@media (max-width: 769px) {
  .about .skills__list {
    font-size: 16px;
  }
}
@media (max-width: 426px) {
  .about .skills__list {
    font-size: 8px;
  }
}
@media (max-width: 321px) {
  .about .skills__list {
    font-size: 6px;
  }
}
.about .skills__list__item {
  margin: 80px 0;
  line-height: 80px;
  vertical-align: middle;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 3px;
}
@media (max-width: 769px) {
  .about .skills__list__item {
    margin: 30px 0;
  }
}
.about .skills__list__item:nth-child(odd) {
  padding-left: 60%;
}
.about .skills__logo {
  width: 35px;
  height: 35px;
}
.about .work {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 40%;
  padding: 150px 50px;
  column-gap: 15%;
}
@media (max-width: 769px) {
  .about .work {
    padding: 80px 30px;
  }
}
.about .work__list {
  padding-top: 50px;
}
.about .work__list li {
  padding: 30px 0 30px;
  max-width: 80%;
}
.about .work__list .item-data {
  color: #fff;
  font-size: 22px;
  line-height: 33px;
}
.about .work__list .item-name {
  color: #13FF00;
  font-size: 30px;
  line-height: 45px;
}
.about .work__list .item-place {
  color: #c1c1c1;
  font-size: 22px;
  line-height: 33px;
}
@media (max-width: 1441px) {
  .about .work__list .item-data {
    font-size: 18px;
    line-height: 25px;
  }
  .about .work__list .item-name, .about .work__list .item-place {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 1025px) {
  .about .work__list .item-data {
    font-size: 16px;
    line-height: 22px;
  }
  .about .work__list .item-name, .about .work__list .item-place {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 426px) {
  .about .work__list .item-data {
    font-size: 12px;
    line-height: 16px;
  }
  .about .work__list .item-name, .about .work__list .item-place {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 321px) {
  .about .work__list .item-data {
    font-size: 8px;
    line-height: 12px;
  }
  .about .work__list .item-name, .about .work__list .item-place {
    font-size: 10px;
    line-height: 14px;
  }
}

.projects {
  background-color: #202020;
  padding: 50px;
}
.projects__title {
  text-align: center;
}
.projects hr {
  border: 2px solid #13FF00;
  box-shadow: 0px 0px 5px #13FF00;
  width: 5%;
  margin: 0 auto;
}
.projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-items: center;
  column-gap: 150px;
  row-gap: 100px;
  max-width: 1200px;
  margin: 150px auto 0 auto;
  justify-content: center;
}
.projects__card {
  max-height: 500px;
  max-width: 400px;
  background-color: #272727;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.16);
  border-radius: 18px;
  overflow: hidden;
  transition: all 0.8s;
}
.projects__card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 8px #13FF00;
}
.projects__card .card__content {
  padding: 20px;
}
.projects__card .card__img {
  max-width: 400px;
  height: 300px;
}
.projects__card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.projects__card .card__desc {
  margin-bottom: 20px;
  color: #e2e2e2;
  font-size: 14px;
}
.projects__card .card__links {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__card .card__btn {
  width: 150px;
  height: 40px;
  background-color: #13FF00;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__card .card__btn:hover {
  box-shadow: 0px 0px 5px #13FF00;
}
@media (max-width: 426px) {
  .projects__card {
    max-width: 300px;
  }
  .projects__card .card__links {
    margin-top: 10px;
  }
  .projects__card .card__img {
    max-width: 300px;
    height: 250px;
  }
}

.footer__contacts {
  background-color: #161616;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  height: 100px;
  align-items: center;
}
.footer__contacts .contacts__item {
  font-size: 20px;
  line-height: 30px;
  color: #8F8F8F;
}
@media (max-width: 426px) {
  .footer__contacts .contacts__item {
    font-size: 12px;
    line-height: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
